/node_modules/
/lib/
/test/
custom-elements.json
# top level source
welcome-page.js
welcome-page.js.map
welcome-page.d.ts
welcome-page.d.ts.map
# only generated for size check
welcome-page.bundled.js
docs/node_modules
.idea
.vercel
.npmrc
# top level source
slider-astrounauts.js
slider-astrounauts.js.map
slider-astrounauts.d.ts
slider-astrounauts.d.ts.map
# only generated for size check
slider-astrounauts.bundled.js

mission-step.js
mission-step.js.map
mission-step.d.ts
mission-step.d.ts.map
# only generated for size check
mission-step.bundled.js

astronauts-step.js
astronauts-step.js.map
astronauts-step.d.ts
astronauts-step.d.ts.map
# only generated for size check
astronauts-step.bundled.js


play-button.js
play-button.js.map
play-button.d.ts
play-button.d.ts.map
# only generated for size check
play-button.bundled.js

moon-icon.js
moon-icon.js.map
moon-icon.d.ts
moon-icon.d.ts.map
# only generated for size check
moon-icon.bundled.js

mars-icon.js
mars-icon.js.map
mars-icon.d.ts
mars-icon.d.ts.map
# only generated for size check
mars-icon.bundled.js

floating-in-space.js
floating-in-space.js.map
floating-in-space.d.ts
floating-in-space.d.ts.map
# only generated for size check
floating-in-space.bundled.js
